<h1 mat-dialog-title>Давлат божи калькулятори</h1>

<mat-form-field class="w-100">
  <mat-label>Иш тоифаси</mat-label>
  <mat-select [(value)]=selectedType >
    <mat-option *ngFor="let type of types" [value]="type">
      {{type.typeName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="w-100">
  <mat-label>Бахоси</mat-label>
  <input #priceBox matInput placeholder="Микдор" type="number" />
</mat-form-field>

<button class="w-100" mat-raised-button (click)="calculate(priceBox)">Хисоблаш</button>

<mat-divider></mat-divider>


<mat-label>Давлат божи микдори: {{result}}</mat-label>
